@charset "utf-8";/* Declaração de codificação */

/* Declaração de cores principais*/

:root {

    --branc : #f5f9e9;
    --verml : #ab2346;
    --cinzb : #858786;
    --verdc : #758173;
    --precn : #2b303a;
    --cinmr : #121212;
    --preto : #000000;
    --marrm : #695853;

}

/* Reset de configurações gerais */

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Slider */

.slider {
    position: relative;
    width: 100%;  
}

/* Slide */

.slider .slide{
    object-fit: cover;
	z-index: 1;
}

.slide {
    height: 100vh;
    display: none;
    overflow: hidden;
    object-fit: cover;
}

.slide img{
    width: 100%;
}

/* Botões */

.prev, .next{
    top: 50vh;
    position: absolute;
    font-size: 50px;    
    padding: 15px;
    cursor: pointer;
    color: var(--branc);
    user-select: none;
}

.prev{
    left: 4rem;
}

.next{
    right: 4rem
}

.dotbox {
    text-align: center;
    position: absolute;
    bottom: 8px;
    left: 53rem;
    top: 85vh;
    padding: 5px 10px;
    height: 30px;
}

.dot {
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    border: solid 4px var(--branc);
    margin: 10px;
}

/* Transições */

.active, .dot:hover {
    background: var(--verml);
    transition: all 0.3s ease 0s;
}

a.prev:hover{
    transition: all 0.3s ease 0s;
    color: var(--verml);
}

a.next:hover{
    transition: all 0.3s ease 0s;
    color: var(--verml);
}